

header {
    background-color:lightgrey;
    padding: 10px; 
    text-align: center;
    font-size: 20px;
    color: black;
    
}
.header1 {
    background-color: cornsilk;
    padding:5px;
    text-align:center;
    font-size: 20px;

}
.image {
    float: right;
    width: 50%;
    background: grey;
    Padding; 10px;
}
.text {
    float: left;
    width: 50%;
    background: darkgrey;
    font-size:20px;
}
.link {
    font-size: 20px;

}
.footer {

    background-color: skyblue;
    
    float: bottom;
    border: 1px;


}